<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\NikasDB.sqlite3;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="Global" connectionString="Data Source=.\NikasDB.sqlite3;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="User" connectionString="Data Source=.\User.sqlite3;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="Sections" connectionString="Data Source=.\Sections.sqlite3;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Attach" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>